# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
*.log

# React Email
.react-email/

# Dependencies
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/
media/

# Miscellaneous
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env
.env*.local

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Ignore dev dummy page
src/app/(app)/(pages)/localtest/
src/app/(app)/(pages)/localtest/*.*

# Payload CMS media uploads
public/media/
