@use '../../_css/common.scss' as *;

.wrapper {
  position: relative;
}

.container {
  position: relative;

  // @include mid-break {
  //   row-gap: 3rem;
  // }
}

.linksContainer {
  position: relative;

  :global(.crosshair) {
    display: block;

    @include mid-break {
      display: none;
    }
  }
}

.contentWrapper {
  display: flex;
  align-items: center;
}

.links {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonIcon {
  margin-left: 1rem;
  flex-shrink: 0;
  top: 4px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  * {
    margin: 0;
  }
}
